.watch {
    margin: 0;
    display: block;
    width: 100%;
}

.watch-face {
    box-sizing: border-box;
    padding: 10px 15px 0 15px ;
    border-radius: 10px;
    background-color: black;
    /* height: 150px; */
    width: 250px;
    margin: 50px auto;
}

.out {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 40px;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    margin: 0;
    background-color:darkkhaki;
}

.msec {
    width: 35px;
    font-size: 30px;
    margin: 0 0 1px 3px;
}

.sec {
    width: 45px;
}

.min {
    width: 45px;
}

.text {
    color: white;
    margin: 0;
    width: 100px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    background-color: darkorchid;
    margin-left: 0 auto;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.start {
    border-radius: 50%;
    margin: 0 10px;
}